$alexandria: "alexandria";
$circular: "circular";
$white: rgb(235, 235, 235);
$black: rgb(14, 14, 14);
$red: rgb(255, 107, 107);
$brown: rgb(105, 80, 83);
$light-brown: rgb(115, 115, 115);
$head-margin-h: 1rem;
$head-margin-w: 2rem;
$h1-size: clamp(5rem, 6vw, 7rem);
$h2-size: clamp(3rem, 5vw, 5rem);
$h4-size: 1.2rem;
$h5-size: 1.1rem;
$icon-size: clamp(100px, 10vw, 170px);
$details-size: clamp(250px, 30vw, 450px);
$search-dimensions: 70px;
$side-margin: 32px;
$tablet: 1000px;
$mobile: 650px;
