$alexandria: "alexandria";
$circular: "circular";
$white: rgb(235, 235, 235);
$brown: rgb(83, 83, 83);
$light-brown: rgb(115, 115, 115);
$head-margin-h: 1rem;
$head-margin-w: 2rem;
$h1-size: 6rem;
$h2-size: 4rem;
$h4-size: 1.2rem;
$h5-size: 1.1rem;
$search-dimensions: 70px;
