@font-face {
  font-family: "circular";
  src: url(./fonts/CircularAir-Light.woff2) format("woff2");
}

@font-face {
  font-family: "alexandria";
  src: url(./fonts/Alexandria.ttf) format("truetype");
}
