@use "./modules/index" as *;

h1,
h2,
h3,
h4 {
  font-family: $alexandria;
  font-weight: 400;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

html {
  font-family: $circular;
  color: $white;
}

body {
  background: url(./images/clouds.jpg) no-repeat;
  background-size: cover;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;

  .main {
    flex: 2 1 auto;
    margin: 30px 10px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-info {
      display: flex;
      gap: 20px;
      align-items: center;

      &-secondary {
        align-self: baseline;
        display: flex;
        flex-flow: column;
      }
    }
  }

  .details {
    flex: 1 1 auto;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(15px);

    display: grid;

    &-buttons {
      display: flex;
      justify-content: right;

      &_setDegree {
        width: calc($search-dimensions / 2);
        height: calc($search-dimensions / 2);
        background-color: orange;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-search {
        width: $search-dimensions;
        height: $search-dimensions;
        justify-self: right;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
